<!DOCTYPE html>

<html>
    <head>
        <title><%= student.id %> - Health Records</title>
        <meta charset = "UTF-8"/>
        <meta name = "viewport" content = "width=device-width,initial-scale=1.0"/>
        <meta name = "author" content = "HEMANTH KUMAR"/>
        <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
        <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>


        <link rel="stylesheet" href="/cshr.css">
        <link rel="icon" type="image/x-icon" href="/Logo.ico">

        <style>
            .print-container{
                background-color: white;
                display: none;
          
            }
            .print-container .header{
                width: 100%;
                display: flex;
                justify-content: space-around;
                align-items: center;
                padding: 7px;
                background-color: white;
            }
            .print-container .header .heading h1,h4{
                text-align: center;
                color: #AA0000;
                padding: 3px 0px;
            }
            .print-container .student-details{
                display: flex;
                justify-content: flex-start;
                align-items: flex-start;
                flex-direction: column;
                padding: 10px;
                border-top: 1px solid black;
                border-bottom: 1px solid black;
                letter-spacing: 1px;
                background-color: white;
            }
            .print-container .student-details h3{
                padding: 0px 0px 7px 0px;
            }
            .print-container .student-details p{
                padding: 2px 0px 2px 0px;
            }

            #hide-print-records{
                display: none;
                border: 1px solid #ddd;
                background-color: white;
            }
            #hide-print-records h3{
                padding: 10px;
            }
            .hide-table-header {
                display: flex;
                background-color: #f2f2f2;
                border-bottom: 1px solid #ddd;
            }

            /* CSS for header cells */
            .hide-header-cell {
                flex: 1;
                padding: 8px;
                text-align: left;
                border-right: 1px solid #ddd;
                width: 25%;
            }

            /* Remove the border from the last header cell */
            .hide-header-cell:last-child {
                border-right: none;
            }

            /* CSS for the table body */
            .hide-table-body {
                display: flex;
                flex-direction: column;
            }

            /* CSS for table rows */
            .hide-table-row {
                display: flex;
                border-bottom: 1px solid #ddd;
            }

            /* CSS for table cells */
            .hide-table-cell {
                flex: 1;
                padding: 8px;
                text-align: left;
                border-right: 1px solid #ddd;
                width: 25%;
                overflow: auto;
            }

            /* Remove the border from the last cell in each row */
            .hide-table-row .hide-table-cell:last-child {
                border-right: none;
            }

            /* Highlight even rows with a different background color */
            .hide-table-row:nth-child(even) {
                background-color: #f2f2f2;
            }
            .hide-table-row:nth-child(odd) {
                background-color: white;
            }

            /* Hover effect for rows */
            .hide-table-row:hover {
                background-color: #ddd;
            }



            /* CSS for the records container */
            .records-container {
                display: flex;
                flex-direction: column;
                border: 1px solid #ddd;
                border-collapse: collapse;
                margin-top: 20px;
            }

            /* CSS for the table header */
            .table-header {
                display: flex;
                background-color: #f2f2f2;
                border-bottom: 1px solid #ddd;
            }

            /* CSS for header cells */
            .header-cell {
                flex: 1;
                padding: 8px;
                text-align: left;
                border-right: 1px solid #ddd;
            }

            /* Remove the border from the last header cell */
            .header-cell:last-child {
                border-right: none;
            }

            /* CSS for the table body */
            .table-body {
                display: flex;
                flex-direction: column;
            }

            /* CSS for table rows */
            .table-row {
                display: flex;
                border-bottom: 1px solid #ddd;
            }

            /* CSS for table cells */
            .table-cell {
                flex: 1;
                padding: 8px;
                text-align: left;
                border-right: 1px solid #ddd;
            }

            /* Remove the border from the last cell in each row */
            .table-row .table-cell:last-child {
                border-right: none;
            }

            /* Highlight even rows with a different background color */
            .table-row:nth-child(even) {
                background-color: #f2f2f2;
            }

            /* Hover effect for rows */
            .table-row:hover {
                background-color: #ddd;
            }

            #medical-records{
                display: block;
            }
                        
            .container .main .no-data{
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                min-height: 60vh;
                width: 100%;
                padding: 20px;
                background-color: white;
            }
            .container .main .no-data h2{
                margin: 5px 0px;
                font-size: 32px;
                font-family: sans-serif;
                letter-spacing: 1px;
                text-align: center;
            }
            .container .main .no-data p{
                margin: 5px 0px;
                font-family: sans-serif;
                letter-spacing: 1px;
                text-align: center;
            }
            .container .main .medical-records{
                width: 100%;
                min-height: 400px;
                height: 100%;
                background-color: white;
                padding: 10px 0px;
                display: block;
            }
            .container .main .medical-records .record-box-container{
                position: relative;
                padding: 15px;
                margin: 15px 30px;
                display: flex;
                justify-content: flex-start;
                align-items: center;
                border: 0.7px solid #ccc;
                border-radius: 5px;
            }
            .container .main .medical-records .record-box-container .record-box{
                width: 100%;
                height:100%;
                padding: 10px;
                display: flex;
                justify-content: center;
                align-items: flex-start;
                flex-direction: column;
                position: relative;
            }
            .container .main .medical-records .record-box-container .record-box .record-item{
                width: 100%;
                height: 100%;
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin: 10px 0px 0px 0px;
                border-bottom: 0.01px solid #ccc;
                padding-bottom: 4px;
            }

            .container .main .medical-records .record-box-container .medicines-list {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-color: #ffffff;
                opacity: 1;
                display: none; 
                padding: 10px;
                border-radius: 5px;
                z-index: 10; 
                box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
                overflow: auto;
            }
            .container .main .medical-records .record-box-container .medicines-list .medicines-container{
                padding: 10px;
            }
            .container .main .medical-records .record-box-container .medicines-list .medicines-container .close-medicines-btn{
                position: absolute;
                right: 20px;
                bottom: 30px;
                padding: 3px 7px;
                cursor: pointer;
                letter-spacing: 1px;
                
            }

            .container .main .medical-records .record-box-container .record-box .record-item button{
                padding: 3px 7px;
                cursor: pointer;
                letter-spacing: 1px;
            }
            .container .main .medical-records .record-box-container .record-box .record-item b,i{
                letter-spacing: 0.7px;
                font-size: 18px;
            }
            .color1 {
            background-color: #fff5e6; /* Light Beige */
            }
            .color2 {
                background-color: #f2f2f2; /* Light Gray */
            }
            .color3 {
                background-color: #fff8dc; /* Light Cream */
            }
            .color4 {
                background-color: #f0fff0; /* Light Mint Green */
            }
            .color5 {
                background-color: #e6e6fa; /* Light Lavender */
            }
            .color6 {
                background-color: #ffe4e1; /* Light Rose */
            }
            .color7 {
                background-color: #e0ffff; /* Light Cyan */
            }
            .color8{
                background-color: white;
            }
            .container .main .social-media{
                margin-top: -20px;
                padding-top: 20px; 
            }
            .container .main .titletwo{
                display: block;
                background-color: white;
                border-bottom: 1px solid #222222;
                display: flex;
                justify-content: space-between;
                padding: 15px 40px;
            }
            .container .main .titletwo b{
                font-size: 25px;
                letter-spacing: .5px;
                font-family: sans-serif;
                display: flex;
                justify-content: center;
                align-items: center;
            }
            .container .main .titletwo b ion-icon{
                margin: 0px 0px 0px 10px;
                background-color: white;
                border: 0.5px solid black;
                padding: 7px;
                border-radius: 50%;
                color: black;
                font-size: 23px;
                cursor: pointer;
            }

            @media only screen and (max-width: 800px){
                
                .print-container .header .img img{
                    width: 40px;
                }
                .print-container .header .heading h1{
                    font-size: 14px;
                }
                .print-container .header .heading h4{
                    font-size: 8px;
                }

                .container .main .titletwo{
                    flex-direction: column;
                    align-items: flex-start;
                    padding: 5px 20px 0px 20px;
                }
                .container .main .titletwo b{
                    justify-content: space-between;
                    font-size: 15px;
                    padding: 5px 0px;
                }
                .container .main .titletwo b ion-icon{
                    position: absolute;
                    right: 20px;
                    top: 172px;
                    font-size: 20px;
                }
                .container .main .no-data h2{
                    font-size: 20px;
                }
            }

            @media print {
                .print-container{
                    display: block;
                }
                .print-container .table-header,
                .print-container .table-row {
                    display: flex;
                    width: 100%;
                }
                .print-container .header-cell,
                .print-container .table-cell {
                    flex: 1;
                    border: 1px solid #ddd;
                    padding: 8px;
                    box-sizing: border-box;
                    word-wrap: break-word;
                    width: 25%;
                }
                .table-row:nth-child(even) .table-cell {
                    background-color: #ffffff; /* White */
                }

                .table-row:nth-child(odd) .table-cell {
                    background-color: #f2f2f2; /* Light Gray */
                }
                .no-print {
                    display: none;
                }
            }


            
            .notification {
                position: fixed;
                top: 20px;
                right: 20px;
                padding: 15px 20px;
                background-color: #09850e; /* Green background */
                color: white;
                border-radius: 5px;
                box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
                z-index: 1000;
                transform: translateX(100%);
                transition: transform 0.5s ease-in-out;
            }

            .notification.show {
                transform: translateX(0);
            }

            .notification.hide {
                transform: translateX(100%);
            }
        </style>

        <script>
            document.addEventListener('DOMContentLoaded', function() {
                // Create the notification element
                const notification = document.createElement('div');
                notification.className = 'notification';
                notification.textContent = 'Login Successful';
                document.body.appendChild(notification);

                // Show the notification
                setTimeout(() => {
                    notification.classList.add('show');
                }, 100);

                // Hide the notification after 3 seconds
                setTimeout(() => {
                    notification.classList.remove('show');
                    notification.classList.add('hide');
                }, 3000);

                // Remove the notification from the DOM after the animation ends
                notification.addEventListener('transitionend', () => {
                    if (notification.classList.contains('hide')) {
                        notification.remove();
                    }
                });
            });
        </script>

    </head>
    <body>
        <div class = "container no-print">
            <div class = "header">
                <div class = "img">
                    <img src = "/Logo.png" width = "60px"/>
                </div>
                <div class = "heading">
                    <h1>Rajiv Gandhi University of Knowledge Technologies - Nuzvid</h1>
                    <h4>Catering to the Educational Needs of Gifted Rural Youth of Andhra Pradesh</h4>
                    <h4>(Established by the Govt. of Andhra Pradesh and recognized as per Section 2(f), 12(B) of UGC Act, 1956)</h4>
                </div>
                <div class = "img">
                    <img src = "/medical_logo.png" width = "100px"/>
                </div>
            </div>
            <div class = "main">
            
                <div class = "title">
                    <h2>Center for Student Health Records - RGUKT NUZVID</h2>
                </div>
                
                <div class = "titletwo">
                    <b><%= student.id %></b>
                    <b><%= student.name %><a href = "/logoutStudent"><ion-icon name="log-out-outline"></ion-icon></a></b>
                </div>

                <div class="my-btn" style="display: flex;padding: 10px 0px 10px 40px;padding-top: 10px;background-color: white;">
                    <button id="printButton" onclick="printContainer()" style="margin: 0px 20px 0px 0px;padding: 7px 20px;background-color: black;border-radius: 3px;color: white;letter-spacing: 1px;outline: none;border: 1px solid #222222;cursor: pointer;">Print</button>
                    <button id="toggleViewButton" onclick="toggleView()" style="margin: 0px 20px 0px 0px;padding: 7px 13px;background-color: #f2f2f2;border-radius: 3px;color: black;letter-spacing: 1px;outline: none;border: 1px solid #222222;cursor: pointer;">Table view</button>
                </div>

                <% if (records.length === 0) { %>
                    <div class="no-data">
                        <h2>No Medical records found for <%= student.id %></h2>
                        <p>There are no medical records associated with this student.</p>
                    </div>
                <% } else { %>
                    <div class="medical-records" id="medical-records">
                        <% records.forEach((record, index) => { %>
                            <% const randomColorIndex = Math.floor(Math.random() * 8) + 1; %>
                                <div class="record-box-container color<%= randomColorIndex %>">
                                    <div class="record-box">
                                        <div class="record-item">
                                            <% const date = new Date(record.date); %>
                                            <% const day = date.getDate(); %>
                                            <% const month = date.getMonth() + 1; %>
                                            <% const year = date.getFullYear(); %>
                                            <b>Date:</b> <%= day + '-' + month + '-' + year %>
                                        </div>
                                        <div class="record-item">
                                            <b>Doctor:</b> <%= record.doctorname %>
                                        </div>
                                        <div class="record-item">
                                            <b>Problem:</b> <%= record.problem %>
                                        </div>
                                        <div class="record-item">
                                              <!--<b>Medicines:</b> <%= record.medicines.map(medicine => medicine.name).join(', ') %>-->
                                           <b>Medicines:</b> <button class = "view-medicines-btn">view</button>
                                        </div>
                                    </div>
                                    <div class="medicines-list" style="display: none;">
                                        <div class="medicines-container">
                                            <span style="letter-spacing: 1px;line-height: 2px;"><b>Medicines: </b>
                                            <%= record.medicines.map(medicine => medicine.name).join(',    ') %>
                                            </span>
                                            <button class="close-medicines-btn">Close</button>
                                        </div>
                                    </div>
                                </div>
                        <% }); %>
                    </div>
                <% } %>

                <div id="hide-print-records">
                    <h3 style="margin-top: 10px;letter-spacing: .7px;">Medical Records:</h3>
                <!-- Instead of the <table>, use a <div> container -->
                    <% function formatDate(date) {
                        const day = ("0" + date.getDate()).slice(-2); // Get day with leading zero if needed
                        const month = ("0" + (date.getMonth() + 1)).slice(-2); // Get month with leading zero if needed
                        const year = date.getFullYear(); // Get full year
                    
                        return `${day}/${month}/${year}`; // Format the date as day/month/year
                    } %>

                    <div class="hide-records-container">
                        <!-- Table headers -->
                        <div class="hide-table-header">
                            <div class="hide-header-cell"><b>Date</b></div>
                            <div class="hide-header-cell"><b>Doctor</b></div>
                            <div class="hide-header-cell"><b>Problem</b></div>
                            <div class="hide-header-cell"><b>Medicines</b></div>
                        </div>
                        <!-- Table body -->
                        <div class="hide-table-body">
                            <!-- Records will be populated here -->
                            <% records.forEach(record => { %>
                                <div class="hide-table-row">
                                    <div class="hide-table-cell"><%= formatDate(record.date) %></div>
                                    <div class="hide-table-cell"><%= record.doctorname %></div>
                                    <div class="hide-table-cell"><%= record.problem %></div>
                                    <div class="hide-table-cell"><%= record.medicines.map(medicine => medicine.name).join(', ') %></div>
                                </div>
                            <% }); %>
                        </div>
                    </div>
             </div>

             <div style="width: 100%;height: 20px;background-color: white;">

             </div>

                <div class = "links-head">
                    <h3>Quick links</h3>
                </div>
                <div class = "links">
                    <div class = "link-box">
                        <a href = "https://rguktn.ac.in/">Home</a>
                        <a href = "https://intranet.rguktn.ac.in/SMS/">SMS</a>
                        <a href = "https://examcell.rguktn.ac.in/">Exam cell</a>
                        <a href = "https://rguktn.ac.in/library/">Library</a>
                        <a href = "https://rguktn.ac.in/academics/departments/">Departments</a>
                    </div>
                    <div class = "link-box">
                        <a href = "https://rguktn.ac.in/administration/">Administration</a>
                        <a href = "https://rguktn.ac.in/student_affairs/student_welfare/">Student welfare</a>
                        <a href = "https://alumni.rguktn.ac.in/">Alumni</a>
                        <a href = "https://rguktn.ac.in/rti/">RTI</a>
                        <a href = "https://rguktn.ac.in/contactus/">Contact us</a>
                    </div>
                </div>
                <div class = "mail-link">
                    <h3>E-Mail</h3>
                    <p><a href="mailto:n210042@rguktn.ac.in"><ion-icon name="mail-open-outline"></ion-icon>n210042@rguktn.ac.in</a></p>
                </div>

                <div class="social-media">
                    <div class="contact-phone">
                        <h3>Phone</h3>
                        <p>+91 32-7292-001</p>
                    </div>
                    <div class="s-links">
                        <h3>Follow us</h3>
                        <div class="follow">
                            <a href=""><ion-icon name="logo-facebook" class="facebook"></ion-icon></a>
                            <a href=""><ion-icon name="logo-instagram" class="instagram"></ion-icon></a>
                            <a href=""><ion-icon name="logo-twitter" class="twitter"></ion-icon></a>
                            <a href=""><ion-icon name="logo-linkedin" class="linkedin"></ion-icon></a>
                        </div>
                    </div>
                </div>
                
                <div class = "copyright">
                    <p><b>Copyright © 2015-2018 <i style = "color: black;text-align: left;">RGUKT Nuzvid.</i></b> All rights reserved.</p>
                    <p><a href = "#"><b>CSHR</b></a></p>
                </div>
            </div>
        </div>


        <!--printing pdf-->
        <div class="print-container" id="print-container">
            <div class = "header">
                <div class = "img">
                    <img src = "/Logo.png" width = "60px"/>
                </div>
                <div class = "heading">
                    <h1>Rajiv Gandhi University of Knowledge Technologies - Nuzvid</h1>
                    <h4>Catering to the Educational Needs of Gifted Rural Youth of Andhra Pradesh</h4>
                    <h4>(Established by the Govt. of Andhra Pradesh and recognized as per Section 2(f), 12(B) of UGC Act, 1956)</h4>
                </div>
                <div class = "img">
                    <img src = "/medical_logo.png" width = "100px"/>
                </div>
            </div>

            <div class = "title" style="background-color: white;color: black;text-align: center;border-top: 1px solid black;">
                <h2 style="letter-spacing: .5px;padding: 5px;">Center for Student Health Records - RGUKT NUZVID</h2>
            </div>

            <div class="student-details">
                <h3>Student Details: </h3>
                <p><b>ID: &nbsp;&nbsp;&nbsp;</b> <span><%= student.id %></span></p>
                <p><b>Name: &nbsp;&nbsp;&nbsp;</b> <span><%= student.name %></span></p>
                <p><b>Gender: &nbsp;&nbsp;&nbsp;</b> <span><%= student.gender %></span></p>
            </div>
            <div class="print-records">
                    <h3 style="margin-top: 10px;letter-spacing: .7px;">Medical Records:</h3>
                <!-- Instead of the <table>, use a <div> container -->
                    <% function formatDate(date) {
                        const day = ("0" + date.getDate()).slice(-2); // Get day with leading zero if needed
                        const month = ("0" + (date.getMonth() + 1)).slice(-2); // Get month with leading zero if needed
                        const year = date.getFullYear(); // Get full year
                    
                        return `${day}/${month}/${year}`; // Format the date as day/month/year
                    } %>

                    <div id="recordsTable" class="records-container">
                        <!-- Table headers -->
                        <div class="table-header">
                            <div class="header-cell"><b>Date</b></div>
                            <div class="header-cell"><b>Doctor</b></div>
                            <div class="header-cell"><b>Problem</b></div>
                            <div class="header-cell"><b>Medicines</b></div>
                        </div>
                        <!-- Table body -->
                        <div class="table-body">
                            <!-- Records will be populated here -->
                            <% records.forEach(record => { %>
                                <div class="table-row">
                                    <div class="table-cell"><%= formatDate(record.date) %></div>
                                    <div class="table-cell"><%= record.doctorname %></div>
                                    <div class="table-cell"><%= record.problem %></div>
                                    <div class="table-cell"><%= record.medicines.map(medicine => medicine.name).join(', ') %></div>
                                </div>
                            <% }); %>
                        </div>
                    </div>
                    
            </div>
        </div>
    </body>

    <script>
        // Prevent form resubmission when navigating back
        if (window.history && window.history.pushState) {
            window.history.pushState('forward', null, './#forward');
            window.onpopstate = function(event) {
                if (event.state === 'forward') {
                    window.history.pushState('forward', null, './#forward');
                    location.replace('/student'); // Redirect to home page
                }
            };
        }
    </script>
    

    <script>
        document.addEventListener('DOMContentLoaded', function() {
            const viewButtons = document.querySelectorAll('.view-medicines-btn');

            viewButtons.forEach(button => {
                button.addEventListener('click', function() {
                    // Find the closest record-box-container
                    const recordBoxContainer = this.closest('.record-box-container');
                    // Find the medicines list within the record-box-container
                    const medicinesList = recordBoxContainer.querySelector('.medicines-list');
                    // Get the background color of the record-box-container
                    const backgroundColor = window.getComputedStyle(recordBoxContainer).getPropertyValue('background-color');
                    // Set the background color of the medicines list
                    medicinesList.style.backgroundColor = backgroundColor;
                    // Toggle its display
                    medicinesList.style.display = (medicinesList.style.display === 'none') ? 'block' : 'none';
                });
            });

            const closeButtons = document.querySelectorAll('.close-medicines-btn');
            closeButtons.forEach(button => {
                button.addEventListener('click', function() {
                    // Find the closest medicines list and hide it
                    const medicinesList = this.closest('.medicines-list');
                    medicinesList.style.display = 'none';
                });
            });
        });
    </script>

    <script>
        function printContainer() {
            window.print();
        }
    </script>

<script>
function toggleView() {
    var printRecords = document.getElementById('hide-print-records');
    var medicalRecords = document.querySelector('.medical-records');
    var toggleButton = document.getElementById("toggleViewButton");

    if (printRecords.style.display === "block") {
        printRecords.style.display = "none";
        medicalRecords.style.display = "block";
        toggleButton.textContent = "Table view"; // Change button text to indicate next action
    } else {
        printRecords.style.display = "block";
        medicalRecords.style.display = "none";
        toggleButton.textContent = "List view"; // Change button text to indicate next action
    }
}

</script>

</html>